@media screen and (max-width: 39.9375em){
	.s-pad{
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
	
	.s-padtop{
		padding-top: 1.5rem;
	}
	
	.s-padbot{
		padding-bottom: 1.5rem;
	}
	
	header{
		padding: 1rem 0;
	}
}
@media screen and (min-width:40em){
	.s-pad{
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
	
	.s-padtop{
		padding-top: 2.5rem;
	}
	
	.s-padbot{
		padding-bottom: 2.5rem;
	}
	
	header{
		padding: 1.5rem 0;
	}
}
@media screen and (min-width:40em) and (max-width:63.95em){
	.menu-topmenu{
		justify-content: center
	}
}
@media screen and (max-width:63.95em){}
@media screen and (min-width:64em){
	.s-pad{
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	
	.s-padtop{
		padding-top: 4rem;
	}
	
	.s-padbot{
		padding-bottom: 4rem;
	}
}
@media screen and (max-width:1300px){
	.orbit-slide{
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}
